
replicaCount: 2
image:
  repository: my-nodejs-app
  tag: latest
  pullPolicy: IfNotPresent
service:
  type: NodePort
  port: 8080
  targetPort: 3000
  nodePort: 30008


serviceAccount:
  create: true
  name: ""

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

httpRoute:
  enabled: false

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80







